ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  color: rgba(46, 47, 66, 1);
  font-family: "Roboto", "Roboto Condensed", "Roboto Flex", sans-serif;
}

.header-logo {
  size: 18;
}

.header-menu-link {
  size: 16;
  line-height: 1.5;
  font-weight: 500;
}
